<footer id="footer">
  <div class="top">
    <div class="content">
      {% if collections.posts %}
        {%- set nextPost = collections.posts | getNextCollectionItem(page) %}
        {%- set previousPost = collections.posts | getPreviousCollectionItem(page) %}
        {%- if nextPost or previousPost %}
          <div>
          <ul>
            {%- if nextPost %}<li>Next :: <a href="{{ nextPost.url | url }}">{{ nextPost.data.title }}</a></li>{% endif %}
            {%- if previousPost %}<li>Previous :: <a href="{{ previousPost.url | url }}">{{ previousPost.data.title }}</a></li>{% endif %}
          </ul>
          </div>
        {%- endif %}
      {% endif %}
    </div>
   </div>
    <div class="content">
      {%- if updated_at %}
        <span class="post-date">updated at: {{ updated_at }}</span>
      {%- endif %}
    </div>
  </div>
  <div class="tags">
    <style>
      .tags { 
        display: none;
        @media only screen and (max-width: 480px) {
          display: inline-flex;
        }
      }
      
    </style>
    <button class="button tag"><a href="/tags" class=""> Search all tags.</a></button>
  </div>
  <div class="site_info">
    <div>
      <div class="row" style="justify-content: center; align-items: center; text-align: left;">
        <picture>
            <source
                style="max-with: 180px;"
                srcset="/static/icons/ouroboros-white.svg"
                media="(prefers-color-scheme: dark)"
            >
            <img
                src="/static/icons/ouroboros-black.svg"
                style="min-height: 100%; min-width: 100px; max-width: 100px;"
                alt="Ethics"
            />
        </picture>
        <div class="column">
          <script>
          window.onload = () => {
            const date = new Date().getFullYear();
            document.getElementById('year').innerHTML = date;
          }
          </script>
          <h6> Kaeforest &copy; <span id="year"/> </h6>
          <small> All at the behest of Kae. </small>
          <small> Site crafted with <a href="https://foambubble.github.io">[[foam]]</a> and 11ty. </small>
          <small> Check out my <a href='/pages/friends'>friends</a> too~ 🫀 </small>
        </div>
      </div>
    </div>
    <div class="row">
      <a href="https://webring.xxiivv.com/#kaeforest" target="_blank" rel="noopener noreferrer">
        <picture id="logo">
            <source
                id="logo"
                style="max-with: 180px"
                srcset="https://webring.xxiivv.com/icon.white.svg"/
                media="(prefers-color-scheme: dark)"
            >
            <img 
                id="logo"
                src="https://webring.xxiivv.com/icon.black.svg"
                style="min-height: 100%; min-width: 100px; max-width: 100px;"
                alt="XXIIVV webring"
            />
        </picture>
      </a>
      <a href="/pages/ethics" target="_blank" rel="noopener noreferrer">
        <picture id="logo">
            <source
                style="max-with: 180px; max-height: 85%;"
                srcset="/static/icons/gemini-life-crop.png"
                media="(prefers-color-scheme: dark)"
            >
            <img
                src="/static/icons/gemini-life.png"
                style="min-height: 100%; min-width: 100px; max-width: 100px;"
                alt="Ethics"
            />
        </picture>
      </a>
    </div>
  </div>
</footer>