---
title: Kaeforest
description: Wiki & logging system
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="index, follow" />
    <link rel="canonical" href={{page.url}}/>
    <link rel="icon" type="image/png" href="/static/icons/favicon-32x32.png">

    <title>{{ title }}</title>
    {# All them metas. #}
    <meta name="description" content="{{description}}">
    <meta name="generator" content="{{eleventy.generator}}">

    <link rel="alternate" href="{{metadata.feed.path | url}}" type="application/atom+xml" title="{{title}}">
    <link rel="alternate" href="{{metadata.jsonfeed.path | url}}" type="application/json" title="{{title}}">

    <meta property="og:title" content="{{title or renderData.title}}"/>
    <meta property="og:description" content="{{description or renderData.description}}"/>
    <meta property="og:url" content="{{page.url}}" />
    <meta property="og:type" content="article" />
    <meta property="og:image" content="{{image or '/static/img/storm.jpg'}}"/>


    {# Now for twitter. #}
    <meta name="twitter:title" content="{{title or renderData.title}}"/>
    <meta name="twitter:description" content="{{description or renderData.description}}"/>
    <meta name="twitter:author" content="@kaelta_"/>
    <meta name="twitter:image" content="{{image or '/static/img/storm.jpg'}}"/>

    <meta name="theme-color" content="#a04668"/>
    <link defer rel="stylesheet" href="/css/index.css"/>
    <link defer rel="stylesheet" href="https://use.typekit.net/svm6fjj.css">
    <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />

    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

    {# Now scripts! #}
    <script src="/javascript/portfolio.js"></script>
    <script src="/javascript/lightbox.js"></script>

    <title>{{ title }}</title>
  </head>

  <script defer src="/javascript/lightbox.js"></script>
  <script
    defer
    crossorigin="anonymous"
    src="https://polyfill.io/v3/polyfill.min.js?features=default%2CArray.prototype.find%2CIntersectionObserver"
  ></script>
  <script>
    window.va = window.va || function () { (window.vaq = window.vaq || []).push(arguments); };
    </script>
  <script defer src="/_vercel/insights/script.js"></script>
  <body>
    {{ content | safe }}
  </body>
</html>
