---
layout: layouts/base.njk
---

<main class="responsive">

    <!-- <div id="sidebar">...</div> -->
    {% include 'sidebar.njk' %}


    <!-- <div id="content">...</div> -->
    <div id="content" class="home">

        {% set banner = {
            image: '/static/img/fractaltrees.png',
            alt: 'fuck',
            title: 'SYSTEM WARNING',
            content: 'SITE UNDER RECONSTRUCTION. CHECK BACK LATER.'}
        %}


        <!-- {% include 'banner.njk' %} -->

        <!-- <div id="header">...</div> -->
        {% include 'header.njk' %}

        {% if image %}
            <img id="metaimage" alt="awa" src={{image}} />
        {% endif %}

        {{ content | safe }}

    </div>

    <!-- <div id="footer">...</div> -->
    {% include 'footer.njk' %}
</main>