.home
  display flex
  flex-direction column
  .title
    gap 2
    padding 2px
    border block solid fogra29 2px
    writing-mode horizontal-tb
    border-radius round(5.5px 12px)
  @media only screen and (max-width breakpoints.sm)
    padding-left 2px
    padding-right 2px

#content
    @media (prefers-color-scheme light)
      background-color rgba(255, 255, 255, .5)

    border-left 4px melon solid
    border-radius 18px 18px 0px 0px

    width 100%

    grid-column-start 1
    grid-column-end span col8-start
    grid-row-start 1

    background-color rgba(0, 0, 0, .5)
    padding .6rem
    border-radius 18px

    flex-grow 1
    max-width calc(100% - (sidebar_width * 2))
    min-width calc(100% - (sidebar_width * 2))

    @media (min-width breakpoints.tb)
        grid-column-start 2
        grid-column-end span 3
        background-color background-secondary 
        @media (prefers-color-scheme dark)
            background-color background-primary

    p
        display block
        @media (min-width breakpoints.tb)
            max-width breakpoints.md

    img
        max-width 639px
        