/* Posts list */
.postlist {
  list-style none
  padding 0
  
  -webkit-box-shadow:0px 0px 105px 0px rgba(45,255,196,0.9);
  -moz-box-shadow: 0px 0px 105px 0px rgba(45,255,196,0.9);
  box-shadow: 0px 0px 105px 0px rgba(45,255,196,0.9);

}
.postlist-item {
  display flex
  flex-wrap wrap
  align-items baseline
  counter-increment start-from -1
  line-height 1.8
  &:before {
    display inline-block
    pointer-events none
    content "" counter(start-from, decimal-leading-zero) ". "
    line-height 100%
    text-align right
  }
}

.postlist-date,
.postlist-item:before {
  font-size 0.8125em /* 13px /16 */
  color blush
}
.postlist-date {
  word-spacing -0.5px
}
.postlist-link {
  padding-left .25em
  padding-right .25em
  text-underline-position from-font
  text-underline-offset 0
  text-decoration-thickness 1px
}
.postlist-item-active .postlist-link {
  font-weight bold
}
.tmpl-home .postlist-link {
  font-size 1.1875em /* 19px /16 */
  font-weight 700
  -ease-transition(color)
}

/* Tags */
.post-tag {
  display inline-flex
  align-items center
  justify-content center
  text-transform uppercase
  font-size 0.75em /* 12px /16 */
  padding 0.08333333333333em 0.3333333333333em /* 1px 4px /12 */
  margin-left 0.6666666666667em /* 8px /12 */
  margin-top 0.5em /* 6px /12 */
  margin-bottom 0.5em /* 6px /12 */
  color blush
  border 1px solid
  border-color blush
  border-radius 0.25em /* 3px /12 */
  text-decoration none
  line-height 1.8
  text-decoration none
}

a[href].post-tag,
a[href].post-tag:visited {
  background-color none
  -ease-transition(background-color)
  color inherit
}
a[href].post-tag:hover,
a[href].post-tag:focus {
  background-color melon
  @media (prefers-color-scheme dark) {
    background-color rose
  }
}
.postlist-item > .post-tag {
  align-self center
}

/* Direct Links / Markdown Headers */
.direct-link {
  font-family sans-serif
  text-decoration none
  font-style normal
  margin-left .1em
}
a[href].direct-link,
a[href].direct-link:visited {
  color: transparent
}
a[href].direct-link:focus,
a[href].direct-link:focus:visited,
:hover > a[href].direct-link,
:hover > a[href].direct-link:visited {
  color #aaa
}
