---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - tagList
  addAllPagesToCollections: true
layout: layouts/home.njk
order: 1
eleventyComputed:
  title: Tagged “{{ tag }}”
permalink: /tags/{{ tag | slug }}/
---
<h1>Tagged “{{ tag }}”</h1>
<p>See <a href="{{ '/tags/' | url }}">all tags</a>.</p>
<br/>
{% set postlist = collections[ tag ] %}
{% include 'postlist.njk' %}
<br/>