---
title: Elith | Kaeforest
layout: layouts/base.njk
---

<style>
* {
 margin: 0;
 padding: 0;
 border: 0;
 outline: 0;
 text-decoration: none;
 font-weight: inherit;
 font-style: inherit;
 color: inherit;
 font-size: 100%;
 font-family: inherit;
 vertical-align: baseline;
 list-style: none;
 border-collapse: separate;
 border-spacing: 0;
 -webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: grayscale;
}

body {
 background-color: black;
}

wallpaper {
 background-image: url("/static/img/bg3.jpg");
  filter: brightness(40%);
  background-size: cover;
  display: block;
  position: fixed;
  height: 100%;
  width: 100%;
  transition: all 2000ms
}

menu {
 position: absolute;
 top: calc(50vh - 100px);
 left: calc(50vw - 100px);
 padding: 60px 30px;
 border-radius: 3px;
 z-index: 100;
}

menu #elith__logo {
 transition: all 4000ms;
}

#elith__footer {
 position: absolute;
 z-index: 100;
 bottom: 15px;
 right: 20px;
 transition: all 4000ms
}

#elith__footer img {
 width: 30px;
 margin-left: 0px;
}

div {
 position: absolute;
 bottom: 15px;
 left: 15px;
 color: white;
 font-size: 11px;
 color: #666;
}

div a {
 text-decoration: underline;
}

.separator {
  height: 100vw;
  position: fixed;
}
</style>

{% block header %}
<wallpaper id="bg"></wallpaper>
<menu>
  <a id="elith__logo" style="display: flex; justify-content: center; align-items: center;" href="/home">
    <img style="width: 120px; align-self: center;" src="/static/icons/ouroboros-white.svg" alt="ouroboros"/>
  </a>
</menu>
<div id="elith__footer">
  {# <a target="_blank" href="https://elith.systems">
    <img style="width: 90px; align-self: center;" src="/static/icons/wyrm.svg" alt="wyrm"/>
  </a> #}
  <a href="https://webring.xxiivv.com/#188" target="_blank">
    <img style="width: 70px;" src="https://webring.xxiivv.com/icon.white.svg" alt="XXIIVV webring"/>
  </a>
</div>
{% endblock header %}

<div class="separator"></div>
<audio autoplay loop>
  <source src="/static/media/ambience.wav">
</audio>

<noscript
  <a href="/home"> Continue to site. </a>
</noscript>