-button(accent)
  background-color accent
  border-radius 6px
  box-shadow 2px
  display inline-flex
  align-items center
  justify-content center
  text-transform uppercase
  font-size 0.75em /* 12px /16 */
  padding 0.08333333333333em 0.3333333333333em /* 1px 4px /12 */
  margin-left 0.6666666666667em /* 8px /12 */
  margin-top 0.5em /* 6px /12 */
  margin-bottom 0.5em /* 6px /12 */
  color charcoal
  border 1px solid
  border-color charcoal
  border-radius 0.25em /* 3px /12 */
  text-decoration none
  line-height 1.8
  text-decoration none

button
  -button(white)
  &.ghost
    background-color inherit
    >a
      color inherit
      border none
  @media(prefers-color-scheme dark)
    background-color fogra29
    >a
      color blush
  &.success
    -button(midbluegreen)
    color blush
    font-weight bold
  &.fail
    -button(rose)
    color blush
    >a
        color blush
  &.alert
    -button(jaundice)