---
title: Art
description: Art under the Kae Machina moniker.
order: 6
layout: layouts/wiki.njk
tags: art
---

Artworks from Are.na

<style>
.wrapper {
  max-width: 600px;
  margin: 2rem auto;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
  grid-auto-flow: dense;
}

.gallery img {
  display: block;
  width: 100%;
  object-fit: cover;
  background-color: hsl(0 0% 90%);
}

.gallery-landscape {
  aspect-ratio: 9 / 6;
  grid-column-end: span 2;
}

.gallery-portrait {
  aspect-ratio: 6 / 9;
}
</style>

<div class="wrapper">
  {% for piece in art | reverse %}
  <figure class="gallery">
    <img 
      src={{ piece.source.url }}
      alt={{ piece.title }}
      width="332px"
      style="object-fit:cover;"
    />
    <figcaption>
      <cite class="desc">
        <em>{{ piece.title }}</em> -
        {{ piece.image.updated_at }}
      </cite>
      <br/>
      <p>
        <a rel="_blank" href={{piece.source.url}}>{{piece.description}}</a>
      </p>
    </figcaption>
  </figure>
{% endfor %}

</div>
