---
title: Meta
description: All entries on Kaeforest.
permalink: /pages/page-list/{% if pagination.pageNumber > 0 %}{{ pagination.pageNumber }}/{% endif %}
order: 3
layout: layouts/home.njk
tags: nav
pagination:
  data: collections.all
  size: 20
  alias: entries
---
<table style="max-width:32rem;">
  <thead>
    <tr>
      <th>Page Title</th>
      <th>URL</th>
    </tr>
  </thead>
  <tbody>
{% for entry in collections.all %}
  <tr>
    <td>{{ entry.data.title }}</td>
    <td><a href="{{ entry.url }}"><code>{{ entry.url }}</code></a></td>
  </tr>
{% endfor %}
  </tbody>
</table>